/* Styles for the Hotel Card component */
@import '../../styles/animations.scss';

.hp-card-container {
    margin: 15px;
}

.hp-card {
    display: flex;
    border: 1px solid #aaa;
    box-sizing: border-box;

    &__img-wrapper {
        flex: 1 0 33.5%;
        position: relative;
        padding-top: 25%;
        overflow: hidden;
        background-color: #ccc;

    }

    &__img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: auto;
        width: 100%;
        transition: transform 0.5s linear;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__info {
        flex: 0 0 66.5%;
        display: flex;
        flex-direction: column;
        padding: 15px;
        box-sizing: border-box;
    }

    &__name-rate {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__name {
        font-size: 24px;
        color: #333;
        text-transform: capitalize;
        margin: 0;
        text-decoration: none;
    }

    &__rate {
        color: #f2b01e;
    }

    &__country-city {
        margin-bottom: 5px;
    }

    &__description {
        height: 45px;
        overflow: hidden;
        font-size: 12px;
        line-height: normal;
        margin: 4px 0;
        overflow: hidden;
        display: -webkit-box;
        display: box;
        line-clamp: 3;
        box-orient: vertical;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    &__reviews-price {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
    }

    &__show-reviews {
        order: 0;
    }

    &__show-reviews-btn {
        font-size: 14px;
        padding: 10px 25px;
        cursor: pointer;
        border-radius: 3px;
        outline: none;
        transition: box-shadow 0.3s linear;

        &:hover {
            box-shadow: 0 0 10px -4px #000;
        }
    }

    &__price-date {
        order: 1;
    }

    &__price,
    &__date {
        margin: 2px 0;
    }

    &__price {
        font-size: 36px;
        text-align: right;
    }
}

@media screen and (max-width: 991px) {

    .hp-card {
        flex-direction: column;

        &__img-wrapper {
            padding-top: 75%;
        }

        &__name-rate {
            flex-direction: column;
        }

        &__reviews-price {
            flex-direction: column;
            margin: 10px 0;
        }

        &__show-reviews {
            order: 1;
            width: 100%;
        }

        &__show-reviews-btn {
            width: 100%;
        }

        &__price-date {
            order: 0;
            width: 100%;
            margin: 10px 0;
        }
    }
}