/* Styles for the Hotel Card component */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-90deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    75% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.hp-app__hotel-card {
    margin: 15px;

    .card-container {
        display: flex;
        border: 1px solid #aaa;
        box-sizing: border-box;

        .card-img {
            flex: 1 0 33.5%;
            position: relative;
            padding-top: 25%;
            overflow: hidden;
            background-color: #ccc;

            >img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: auto;
                width: 100%;
                transition: transform 0.5s linear;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .card-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 15px;
            box-sizing: border-box;

            .card-name-rate {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .name {
                    font-size: 24px;
                    color: #333;
                    text-transform: capitalize;
                    margin: 0;

                    >a {
                        text-decoration: none;
                    }
                }

                .rate {
                    >span {
                        color: #f2b01e;
                    }
                }
            }

            .card-country-city {
                >p {
                    margin-bottom: 5px;
                }
            }

            .card-description {
                height: 45px;
                overflow: hidden;

                p {
                    font-size: 12px;
                    line-height: normal;
                    margin: 4px 0;
                    overflow: hidden;
                    display: -webkit-box;
                    display: box;
                    line-clamp: 3;
                    box-orient: vertical;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }

            .card-reviews-price {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: auto;

                .show-reviews {
                    order: 0;
                    >button {
                        font-size: 14px;
                        padding: 10px 25px;
                        cursor: pointer;
                        border-radius: 3px;
                        outline: none;
                        transition: box-shadow 0.3s linear;

                        &:hover {
                            box-shadow: 0 0 10px -4px #000;
                        }
                    }

                    .spinner {
                        display: inline-block;
                        margin-left: 10px;
                        animation: spin 0.5s infinite;
                    }
                }

                .price-date {
                    order: 1;
                    p {
                        margin: 2px 0;

                        &.price {
                            font-size: 36px;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {

    .hp-app__hotel-card {
        .card-container {
            flex-direction: column;

            .card-img {
                padding-top: 75%;
            }

            .card-info {
                .card-name-rate {
                    flex-direction: column;
                }

                .card-reviews-price {
                    flex-direction: column;
                    margin: 10px 0;

                    .show-reviews { 
                        order: 1;
                        width: 100%;

                        >button {
                            width: 100%;
                        }
                    }

                    .price-date {
                        order: 0;
                        width: 100%;
                        margin: 10px 0;

                    }
                }
            }
        }
    }
}